body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.tabla-criterios{
   
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-criterios th, .tabla-criterios td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabla-criterios th {
    background-color: #f2f2f2;
}

.tabla-criterios tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}